{% extends "network/layout.html" %}

{% block body %}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .contener {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}



    .new_post {
        text-align: center; 
        margin-top: 4px;
        margin-left: 8px; 
    }

    
    .Post_con {
        border: 1px solid #ccc; 
        padding: 5px; 
        text-align: left; 
        margin-bottom: 5px;
        width: 600px;
    }

  
    .post_page {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
    }

   


   
   

</style>

{% if user.is_authenticated %}
<h3 style="margin: 10px;">{{ user_obj_profile }}</h3>
    {% if user != user_obj_profile %}
         {% if follow_you %}
         <form action="{% url 'unfollow' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="userfollow" value="{{ user_obj_profile }}" />
  <input class="btn-primary btn  ml-3" type="submit" value="unfollow" />
         </form>
         {% else %}
         <form action="{% url 'follow' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="userfollow" value="{{ user_obj_profile }}" />
  <input class="btn-primary btn  ml-3" type="submit" value="follow" />
         </form>
         {% endif %} 
    {% endif %}
{% endif %} 

<div class="contener">
  <h3 class="follower">Followers:{{follower.count}}</h3>
  <h3 class="following">Following:{{following.count}}</h3>
</div>
<div class="post_page">
  {% for post in all_posts %}
  <div class="Post_con">
    <h5 class="username">@{{ post.user }}</h5>
    <h6 class="content">{{ post.content }}</h6>
    <p class="date">{{ post.date }}</p>
  </div>
  {% endfor %}


<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if post_page.has_previous %}
    <a class="page-link" href="?page={{ post_page.previous_page_number }}&user_id={{ user_obj_profile.id }}">Previous</a>


    {% endif %} {% if post_page.has_next %}
    <a class="page-link" href="?page={{ post_page.next_page_number }}&user_id={{ user_obj_profile.id }}">Next</a>
    {% endif %}
  </ul>
</nav>
</div>
{% endblock %}
